.aboutMeContainer{
    margin:50px;
    display:flex;
}

.aboutMeImg{
    width: 350px;
    height:auto;
}

.aboutMeInfoSection{
    color:rgb(150, 108, 162);
    margin:50px;
}

.aboutMeName{
    color:rgb(220, 146, 0);
}